@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Welcome</h1>
    <div class="card">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <h5 class="card-title">Keep track of your spending categories.</h5>
            <p class="card-text">Add, edit, delete, or simply hide your categories.</p>
            <a class="btn btn-primary " asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Expenses</h5>
        <div class="card-body">
            <h5 class="card-title">Keep track of your expenses.</h5>
            <p class="card-text">Add, edit, delete, or hide your expenses.</p>
            <a class="btn btn-primary " asp-area="" asp-controller="Expenses" asp-action="Index">Expenses</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Report</h5>
        <div class="card-body">
            <h5 class="card-title">Відслідкйте все.</h5>
            <p class="card-text">Choose a period and get all your expenses in the palm of your hand. (except the ones you don't want to see)</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Reports" asp-action="Index">Report</a>
        </div>
    </div>
</div>

